<h2>Add Image</h2>

<%= form_with model: @recipe do |f| %>
        <% if recipe.errors.any? %>
          <p><%= pluralize(recipe.errors.count, "error") %> stopped this post from being saved:</p>

          <ul>
            <% recipe.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        <% end %>

        <%= f.label :image, "Add/Update Image" %>
        <%= f.file_field :image %>
        <%= f.submit "Add" %>
      <% end %>