<div class="form-padding">
  <div class="text-center">
    <h1><%= @recipe.title %></h1>
    <%= image_tag(@recipe.image, alt: @recipe.title, class: "img-center") if @recipe.image.present? %>
  </div>

  <div class="text-center" style="padding: 20px 0;">
    <%= form_with url: "/dashboard/recipes", method: :post do %>
      <%= hidden_field_tag :title, @recipe.title %>
      <%= hidden_field_tag :recipe_id, @recipe.id %>
      <%= hidden_field_tag :image, @recipe.image %>
      <%= hidden_field_tag :summary, @recipe.summary %>
      <%= hidden_field_tag :instructions, @recipe.instructions %>
      <%= hidden_field_tag :ingredients, @recipe.ingredients.map(&:attributes) %>
      <%= submit_tag "Add Recipe to my dashboard" %>
    <% end %>
  </div>

<div class="border border-white p-3">
  <h2 class="text-center px-2">Summary</h2>
  <div class="no-border-box text-left mx-5">
    <p class="small px-2">
      <%= @recipe.summary.gsub(/<a\b[^>]*>(.*?)<\/a>/i, '\1').html_safe %>
    </p>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="border border-dark rounded p-3">
          <h2 class="px-2">Ingredients</h2>
          <div class="ingredient-box text-left">
            <% @recipe.ingredients.each do |ingredient| %>
              <p class="small px-2">
                <%= "#{ingredient.amount} #{ingredient.unit} #{ingredient.name}" %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="border border-dark rounded p-3">
          <h2 class="px-2">Instructions</h2>
          <p class="small px-2 text-left"><%= raw @recipe.instructions %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Email this Recipe</h2>
<%= form_with url: "/email_recipe", method: :post  do |f| %>
  <%= f.label "Email" %>
  <%= f.text_field :recipient_email %>
  <%= f.hidden_field :recipe_id, value: @recipe.id %>
  <%= f.submit "send it off" %>
<% end %>

