<h1>Create Account</h1>

<%= form_for @user, url: new_user_path do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Confirm Password' %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= f.check_box :show_password %>
    <%= f.label :show_password, 'Show Password' %>
  </div>

  <div class="actions">
    <%= f.submit 'Make My Account' %>
  </div>

<%# <%= link_to "Log In", login_path %> %>
<% end %>
