<div class="text-center"> 
  <p>Welcome, <%= @user.name %></p>
  <%= button_to "Search Recipes", "/dashboard/search", method: :get, class: "btn btn-primary rounded" %>
</div>
<h2 class="text-center">My Recipes</h2>

<% @user_recipes.each do |recipe| %>
  <div class="recipe-container">
    <div class="recipe text-center">
      <h3><%= recipe.title %></h3>
      <%= image_tag(recipe.image, alt: recipe.title, class: "rounded") if recipe.image.present? %>
      <div class="form-padding"> 
        <%= button_to "Remove from My Recipes", "/dashboard/delete_recipe", method: :delete, data:{turbo: false}, params: { id: recipe.id }, class: "btn btn-danger rounded" %>
      </div>
    </div>
  </div>
<% end %>
