<div class="text-center">
  <p>Welcome, <%= @user.name %></p>
  <%= button_to "Search Recipes", "/dashboard/search", method: :get, class: "btn btn-primary rounded" %>
</div>
<br>
<% if @user_recipes != [] %>
  <h2 class="text-center">My Recipes</h2>
  <div class="container">
    <div class="row">
      <!-- Left column for saved recipes -->
      <div class="col-md-6 d-flex flex-column saved-recipes">
        <h3 style="text-align: center;">Saved Recipes</h3>
        <% @user_recipes.each do |recipe| %>
          <div class="recipe-container" id="user_recipe-<%=recipe.recipe_id%>">
            <a href="/dashboard/search/<%= recipe.recipe_id %>" class="text-decoration-none text-reset">
              <div class="recipe text-center">
                <h4><%= recipe.title %></h4>
                <%= image_tag(recipe.image, alt: recipe.title, height: "250vh", class: "rounded") if recipe.image.present? %>
              </div>
            </a>
            <div class="form-padding text-center"> 
              <%= button_to "Remove from My Recipes", "/dashboard/delete_recipe", method: :delete, data: { turbo: false }, params: { id: recipe.id }, class: "btn btn-danger rounded" %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- Right column for uploaded recipe pictures -->
      <div class="col-md-6 d-flex flex-column">
        <h3 style="text-align: center;">My Recipe Images</h3>
        <div class="d-flex flex-column">
          <% @user_recipes.each do |recipe| %>
            <div class="recipe-container"> 
              <div class="recipe text-center">
                <% if recipe.avatar != "" %>
                  <%= image_tag recipe.avatar, height: "300px", class: "rounded" %>
                  <div class="form-padding text-center"> 
                    <%= button_to "Remove Image", "/dashboard/delete_avatar", method: :delete, data: { turbo: false }, params: { id: recipe.id }, class: "btn btn-danger rounded" %>
                  </div>
                <% else %>
                  <%= form_with url: "/dashboard/add_image", method: :post, local: true, multipart: true do |f| %>
                    <%= f.label :avatar, "Add Image" %>
                    <%= f.file_field :avatar, accept: 'image/*' %>
                    <%= f.hidden_field :id, value: recipe.id %>
                    <%= f.submit "Add" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>