<p>Welcome, <%= @user.name %></p>
<%= button_to "Search Recipes", "/dashboard/search", method: :get %>
<h2>My Recipes</h2>
<% @user_recipes.each do |recipe| %>
  <div class="recipe-container"> <!-- Add the container class here -->
    <div class="recipe"> <!-- Wrap each recipe in a container -->
      <h3><%= link_to recipe.title, "/dashboard/search/#{recipe.recipe_id}" %></h3>
      <%= image_tag(recipe.image, alt: recipe.title) if recipe.image.present? %>
      <%= button_to "Remove from My Recipes", "/dashboard/delete_recipe", method: :delete, params: { id: recipe.id }, class: "btn btn-danger" %>
    </div>
  </div>
<% end %>

