<!DOCTYPE html>
<html lang=”en”>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
 <body class="login">
  <div class="overlay">
    <div class="container">
      <div class="d-flex flex-column align-items-start">
        <img src="<%= image_path('logo_full_white.png') %>" alt="Logo" class="logo-welcome">
        <div class="button-container">
          <%= button_to "Login", "/login", class: "btn btn-secondary equal-btn btn-magenta", method: :get %>
          <%= button_to "Create an Account", "/register", class: "btn btn-primary equal-btn btn-turquoise", method: :get %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
