<!DOCTYPE html>
<html lang=”en”>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="login">
  <div class="overlay">
    <div class="container">
      <div class="d-flex justify-content-between align-items-start">
        <div>
          <%= button_to "Login", "/login", class: "btn btn-secondary", method: :get %>
        </div>
        <div>
          <%= button_to "Create an Account", "/register", class: "btn btn-primary", method: :get %>
        </div>
      </div>
      <div class="text-center">
      <h1>Welcome to Pantry Pilot</h1>
      <p>Making your pantry a happier place.</p>
        <% if session[:user_id] && request.path != "/dashboard" %>
          <%= button_to "Dashboard", dashboard_path, class: "btn btn-primary", method: :get %>
        <% end %>
    </div>
  </div>
  </div>
</body>
</html>
