<!DOCTYPE html>
<html>
  <head>
    <title>PantryPilotFe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class= "container">
      <% unless request.path == '/' %>
        <h1>Pantry Pilot</h1>
        <p>"Making your pantry a better place!"</p>
      <% end %>
    <%= yield %>
    </div>
  </body>
</html>
