<!DOCTYPE html>
<html>
<head>
  <title>PantryPilotFe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>
<body>
  <% unless request.path == '/' %>
    <header>
      <div class="container">
        <div class="header-content">
          <div class="app-info">
            <h1>Pantry Pilot</h1>
            <img src="<%= image_path('background.jpg') %>" alt="Logo" class="logo">
          </div>
          
          <% if session[:user_id] && request.path != "/dashboard" %>
            <%= button_to "Dashboard", dashboard_path, class: "btn btn-primary" %>
          <% end %>
          <% if session[:user_id] && request.path != '/' && request.path != '/register' && request.path != '/login' %>
            <%= button_to "Logout", '/logout', method: :delete, class: "btn btn-danger", style: "position: absolute; top: 10px; right: 10px;" %>
          <% end %>
        </div>
      </div>
    </header>
  <% end %>
  <%= yield %>
  <% flash.each do |type, msg| %>
    <div class="alert-info">
      <%= msg %>
    </div>
  <% end %>
</body>
</html>
