<!DOCTYPE html>
<html>
  <head>
    <title>PantryPilotFe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class= "container">
      <% if session[:user_id] %>
            <%= link_to "Logout", '/', method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "Login", '/login', class: "btn btn-secondary" %>
          <% end %>
      <% unless request.path == '/' %>
        <img src="<%= image_path('background.jpg') %>" alt="Logo" class="logo">
        <h1>Pantry Pilot</h1>
        <p>"Making your pantry a better place!"</p>
      <% end %>
    </div> 
    <%= yield %>
  </body>
</html>
