<!DOCTYPE html>
<html>
<head>
  <title>PantryPilot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body>
  <% flash.each do |type, msg| %>
    <div class="alert-info">
      <%= msg %>
    </div>
  <% end %>
  
  <% unless request.path == '/' %>
    <header>
        <img src="<%= image_path('logo_full.png') %>" alt="Logo" class="logo">
      <!--<div class="app-info">
        <h1 style="text-align: center">&nbsp;&nbsp;&nbsp;&nbsp;Pantry Pilot</h1>
      </div>-->
  
      <div class="d-flex justify-content-end">
      <% if session[:user_id] && request.path != "/dashboard" %>
        <div class="px-2">
        <%= button_to "Dashboard", dashboard_path, method: :get, data:{turbo: false}, class: "btn btn-primary" %>
        </div>
      <% end %>
      <% if session[:user_id] && request.path != '/' && request.path != '/register' && request.path != '/login' %>
        <%= button_to "Logout", '/logout', method: :delete, class: "btn btn-magenta" %>
      <% end %>
  </div>
</header>
  <% end %>
  <%= yield %>
</body>
</html>
