<!DOCTYPE html>
<html>
  <head>
    <title>PantryPilotFe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <% if current_user %>
      <%= button_to "My Dashboard", "/dashboard", method: :get %>
      <%= button_to "Log out", "/logout", method: :get %>
    <% else %>
      <% unless controller_name == 'sessions' && action_name == 'login_form' %>
        <%= button_to "Login", "/login", method: :get %>
      <% end %>
    <% end %>
  </head>

  <body>
    <div class= "container">
      <% if session[:user_id] && request.path != '/' && request.path != '/register' && request.path != '/login' %>
        <%= link_to "Logout", '/', method: :delete, class: "btn btn-danger", style: "position: absolute; top: 10px; right: 10px;" %>
      <% end %>
      <% unless request.path == '/' %>
        <img src="<%= image_path('background.jpg') %>" alt="Logo" class="logo">
        <h1>Pantry Pilot</h1>
        <p>"Making your pantry a happier place!"</p>
      <% end %>
    </div> 
    <%= yield %>
    <% flash.each do |type, msg| %>
      <div class="alert-info">
        <%= msg %>
      </div>
    <% end %>
  </body>
</html>
